{% extends 'base.html.twig' %}

{% block title %}
	Hello TaskController!
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
	<div class="container">
		<table id="taskTable" class="divide-y divide-gray-300 m-auto">
			<thead>
				<tr>
					<th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">
						ID
					</th>
					<th class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
						Nom
					</th>
					<th class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
						Date Prévue
					</th>
					<th>
						Catégorie
					</th>
				</tr>
			</thead>
			<tbody class="divide-y divide-gray-200">
				{% for task in tasks %}
					<tr>
						<td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
							{{ task.id }}
						</td>
						<td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
							{{ task.name }}
						</td>
						<td>
							{{ task.dueAt | date('d/m/Y') }}
						</td>
						<td>
							{{ task.tag.name }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
	<script>
		let table = new DataTable('#taskTable');
	</script>
{% endblock %}
